/* Basic */
body{
  background-color: lightsteelblue;
  /*font-family: "Courier New", Courier, monospace;*/
}

.jumbotron {
  /*background-color: powderblue;*/
  /*background-color: gainsboro;*/
}

footer{
  padding-bottom: 1em;
}

/* Graph */
#graph_container {
  /*display: inline-block;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*border: 2px solid black;*/
  /*padding: 1em;*/
  /*border-radius: 2px;*/
}
#graph_title{
  font-size: 20px;
}

/*Panel control*/
.panel-graph{
  padding: 0.5em;
  text-align: center;
}
.panel-conn{
  padding: 0.5em;
  text-align: center;
}

#input-zoomX, #input-zoomY{
  width: 4.5em;
}

#status-text{
  color:black;
  font-weight:bold;
}

/*Rectangulo de leyenda*/
.legend-rect-container{
  height: 12px;
  width: 12px;
}
.legend-rect{
  height: inherit;
  width: inherit;
}



/*Graph of d3*/
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path, .axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  /*shape-rendering: crispEdges;*/
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}
.grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
rect {
  stroke-width: 2;
}
