# Precompiled py files
__pycache__/
*.pyc

# Data
data/*

# Folders
old/

# Debug files
debug*
zoom.js

# Rickshaw library
rickshaw*

# Lock files
.~lock*

# Python environment
.env-python
active-env
